.container {
    text-align: left;
    padding: auto;
    margin: 20px;
}

.topName {
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 25px;
}

label {
    display: block;
    padding: 4px;
    margin: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
    pointer-events: none;
}

input {
    width: 100%;
    height: 20px;
    margin: 6px;
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
}

input:invalid {
    outline: 0;
}

input:focus,
input:valid {
    border-color: #D3CBB9;
}

input:focus ~ label,
input:valid ~ label {
    font-size: 11px;
    top: -10px;
    color: #D3CBB9;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 0 30px;
}

.cardName {
    width: 50%;
    position: relative;
}

.cardNumber {
    width: 50%;
    position: relative;
}

.dateCvv {
    display: flex;
    flex-direction: row;
    gap: 0 30px;
}

.date {
    width: 50%;
    position: relative;
}

.cvv {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: row;
}

input[type=month]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=month]:focus::-webkit-datetime-edit {
    color: black !important;
}
